h1::selection{
    background: #C6AE92;
    color: black;
}
h1::-moz-selection{
    background: #C6AE92;
    color: black;
}
h1::-webkit-selection{
    background: #C6AE92;
    color: black;
}
p::-moz-selection {
    background: #C6AE92;
    color: black;
}

p::-webkit-selection {
    background: #C6AE92;
    color: black;
}

p::selection {
    background: #C6AE92;
    color: black;
}

span::-moz-selection {
    background: #C6AE92;
    color: black;
}

span::-webkit-selection {
    background: #C6AE92;
    color: black;
}

span::selection {
    background: #C6AE92;
    color: black;
}

br::-moz-selection {
    background: #C6AE92;
    color: black;
}

br::-webkit-selection {
    background: #C6AE92;
    color: black;
}

br::selection {
    background: #C6AE92;
    color: black;
}

a::-moz-selection {
    background: #C6AE92;
    color: white;
}

a::-webkit-selection {
    background: #C6AE92;
    color: white;
}

a::selection {
    background: #C6AE92;
    color: white;
}

.article {
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.6);
    background: rgba(220, 220, 220, 1);
    border-radius: 20px;
}

header {
    background: #B09B7F;
}

footer {
    background: #B09B7F;
}

body {
    background-color: #B09B7F;
}

.header-link {
    color: #ffffff;
}

.header-link:hover {
    color: #f3e9db;
}

.moment {
    color: #544634;
}

@media screen and (min-width: 1125px) {
    .nav-menu {
        background: rgba(220, 220, 220, 1);
    }

    .nav-menu-block a {
        margin-bottom: 8px;
        color: #000000;
        text-decoration: underline;
        font-size: 18px
    }

    .nav-menu-block a:hover {
        text-decoration: underline;
        color: #AE6B07;
    }

    header {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    div.list a {
        color: #000000;
    }

    footer {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    a.icon {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 686px) and (max-width: 1124px) {
    .nav-menu {
        background: rgba(220, 220, 220, 1);
    }

    .nav-menu-block a {
        margin-bottom: 7px;
        color: #000000;
        text-decoration: underline;
        font-size: 15px
    }

    .nav-menu-block a:hover {
        text-decoration: underline;
        color: #AE6B07;
    }

    div.list a {
        color: #B09B7F;
    }
}

@media screen and (max-width: 685px) {
    #nav_background_mobile {
        background: rgba(220, 220, 220, 1);
    }

    .nav-menu-block a {
        color: #AE6B07;
    }

    div.list a {
        color: #B09B7F;
    }
}