* {
    font-family: Arial, Helvetica, sans-serif;
}

img::selection,
.header-link::selection {
    background: transparent;
}

img::-moz-selection,
.header-link::-moz-selection {
    background: transparent;
}

#background {
    background-repeat: no-repeat;
}

#invalid_image {
    cursor: pointer;
}

.open_close_icon {
    cursor: pointer;
}

#font-size div:focus,
#color-scheme div:focus,
input:focus,
#font div a:focus,
#font-interval div a:focus {
    webkit-box-shadow: 0 0 10px 3px rgba(0, 30, 255, 0.53);
    -moz-box-shadow: 0 0 10px 3px rgba(0, 30, 255, 0.53);
    box-shadow: 0 0 10px 3px rgba(0, 30, 255, 0.53);
}

#small-size {
    font-size: 13px !important;
}

#middle-size {
    font-size: 17px !important;
}

#high-size {
    font-size: 20px !important;
}

#white-black {
    border: 3px solid white;
    color: white;
    background: black;
}

#black-white {
    border: 3px solid black;
    color: black;
    background: white;
}

#blue {
    border: 3px solid #063462;
    color: #063462;
    background: #9ed1ff;
}

#brown {

    border: 3px solid #59422e;
    color: #59422e;
    background: #f7f3d6;
}

#green-brown {
    border: 3px solid #a9dd38;
    color: #a9dd38;
    background: #3b2716;
}

@media screen and (min-width: 1125px) {

    /*!ВСЕ*/
    * {
        margin: 0;
        padding: 0;
    }

    .scale-fix {
        width: 100%;
        min-width: 1125px;
        max-width: 1450px;
    }

    #background {
        position: fixed;
        min-height: 110%;
        min-width: 100%;
        background: url(photos/background/background-desktop.jpg);
        background-position: center;
        background-size: cover;
        z-index: -100;
    }

    .nav-menu {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 100;

        display: none;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: relative;
        height: 90%;
        width: 90%;
        margin: auto;
    }

    .nav-menu-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        height: auto;
        width: 49%;
    }

    #close_icon {
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 101;
        top: -15px;
        right: 0px;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    /*!HEADER*/

    header {
        position: fixed;
        z-index: 50;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .margin-left {
        margin-left: 10px;
    }

    .margin-left p {
        font-weight: bold;
        background: white;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 3px;
        margin-bottom: 2px;
    }

    .margin-left p:hover {
        cursor: pointer;
        background: black;
        color: white;
    }

    #for-invalid {

        z-index: 51;
        width: 100%;
        background: #e1c7a4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #for-invalid div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }

    #for-invalid div div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #for-invalid div div div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .for-invalid-paragraph {
        font-size: 18px;
    }

    #font-size div {
        margin-left: 4px;
        padding: 3px !important;
        width: 15px;
        height: 20px;
        background: white;
        border: 2px solid black;
        cursor: pointer;
    }

    #font-size div,
    #color-scheme div {
        position: relative;
        font-weight: bold;
        cursor: pointer;
    }

    #font-size div p,
    #color-scheme div p {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 50% 0;
    }

    #color-scheme div {
        text-decoration: underline;
        margin-left: 7px;
        width: 20px;
        height: 30px;
    }

    label {
        margin-left: 3px;
    }

    #delete-invalid {
        cursor: pointer;
        padding: 5px;
        color: white;
        background: tomato;
        border: 5px solid red;
    }

    #delete-invalid:hover {
        color: red;
        background: white;
        border: 5px solid red;
    }

    nav {
        z-index: 52;
        height: 60px;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .header-link {
        position: relative;
        top: -2px;
        text-decoration: none;
        font-size: 28px;
        letter-spacing: 0.055em;

    }

    .button {
        max-width: 50px;
        max-height: 60px;
    }

    /*!БЛОК ARTICLE*/

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .article {
        position: relative;
        width: 90%;
        margin-top: 80px;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .in-article-div {
        position: relative;
        width: 55%;
        height: auto;
        padding-top: 20px;
        margin-left: 30px;
        padding-bottom: 30px;

        display: flex;
        flex-direction: column;
    }

    .list {
        margin-top: -5px;
        position: relative;
        width: 100%;
        height: auto;
    }

    .special-margin {
        margin: 20px 0 20px 0;
    }

    /*!НАСТРОЙКА ТЕКСТА В ARTICLE*/

    span.bold {
        font-weight: bolder;
    }

    div.list>p {
        text-align: justify;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }

    div.list>a {
        text-decoration: none;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }

    div.list>a:hover {
        text-decoration: underline;
    }

    div.in-article-div>p {
        text-align: justify;
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div.special-margin>p {
        text-align: justify;
        font-size: 22px;
        margin-top: 6px;
    }

    h1 {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40%;

        font-weight: bold;
        font-size: 35px;
        color: black;
        text-align: right;
    }

    /*!ПОДВАЛ*/

    footer {
        position: relative;
        top: 100px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.footer-text {
        width: 90%;
        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    p.footer-text {
        font-size: 25px;
    }

    div.icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 120px;
        height: 60px;
    }

    a.icon {
        margin-left: 10px;
        border-radius: 9px;
        transition: background-color 0.3s linear;
        transition-delay: 50ms;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img.icon {
        width: 50px;
        height: 50px;
    }

    #vk:hover {
        background-color: #2787F5;
    }

    #fb:hover {
        background-color: #3b5998;
    }
}







@media screen and (min-width: 686px) and (max-width: 1124px) {

    /*!ВСЕ*/

    * {
        margin: 0;
        padding: 0;
    }

    div#background {
        position: fixed;
        min-height: 110%;
        min-width: 100%;
        background-image: url(/photos/background/background-desktop.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: none;
        z-index: -100;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #nav_background {
        display: none;
        position: fixed;
        min-height: 110%;
        min-width: 100%;
        background-image: url(photos/background/background-desktop.jpg);
        background-position: center;
        background-size: cover;
        z-index: 80;
    }

    .nav-menu {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 100;

        display: none;
        justify-content: space-around;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
    }

    .nav-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        height: 90%;
        width: 90%;
        margin: auto;
    }

    .nav-menu-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        height: auto;
        width: 49%;
    }

    #close_icon {
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 101;
        top: 8px;
        right: 62px;
    }


    /*!HEADER*/

    header {
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav {
        height: 60px;
        min-width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    a.header-link {
        text-decoration: none;
        font-size: 27px;
        letter-spacing: 0.055em;
    }

    .mobile-none {
        display: none;
    }

    .button {
        max-width: 40px;
        max-height: 40px;
    }

    /*!БЛОК ARTICLE*/

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.article {
        position: relative;
        width: 90%;
        margin-top: 100px;
        height: auto;
    }

    div.in-article-div {
        position: relative;
        width: 95%;
        margin: auto;
        height: auto;

        padding-top: 10px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.list {
        margin-top: -5px;
        position: relative;
        width: 100%;
        height: auto;
    }

    div.special-margin {
        margin: 20px 0 20px 0;
    }


    /*!НАСТРОЙКА ТЕКСТА В ARTICLE*/

    h1 {
        position: relative;
        margin-left: 15px;
        margin-top: 15px;

        min-width: 90%;
        height: auto;
        font-weight: bold;
        font-size: 35px;
        color: black;
        text-align: left;
    }

    span.bold {
        font-weight: bolder;
    }

    div.list>p {
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }

    div.list a {
        text-decoration: none;

        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }

    div.in-article-div>p {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div.special-margin>p {
        font-size: 22px;
        margin-top: 6px;
    }


    /*!ПОДВАЛ*/

    footer {
        position: relative;
        top: 100px;
        width: 100%;
        height: 65px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.footer-text {
        width: 90%;
        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    p.footer-text {
        font-size: 25px;
    }

    div.icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: auto;
        height: 60px;
    }

    a.icon {
        margin-left: 10px;
        border-radius: 9px;
        transition: background-color 1s linear;
        transition-delay: 100ms;
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img.icon {
        width: 55px;
        height: 55px;
    }

    #vk {
        background-color: #2787F5;
    }

    #fb {
        background-color: #3b5998;
    }

}

@media screen and (max-width: 685px) {

    /*!ВСЕ*/
    * {
        margin: 0;
        padding: 0;
    }

    div#background {
        position: fixed;
        background-image: url(/photos/background/background-desktop.jpg);
        background-position: center;
        min-width: 100%;
        min-height: 110%;
        background-size: auto 100%;
        z-index: -100;
    }

    #nav_background_mobile {
        position: fixed;
        top: 0;
        z-index: 75;
        height: 130vh;
        width: 110vw;
    }

    .nav-menu {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        max-height: 800px;

        display: none;
        justify-content: center;
        align-items: center;
    }

    .nav-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        position: relative;
        height: auto;
        width: 95%;
        margin: auto;
        z-index: 80;
    }

    .nav-menu-block {
        position: relative;
        top: 50px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: auto;
        width: 49%;
    }

    .nav-menu-block a {
        margin-bottom: 12px;
        text-decoration: underline;
    }

    #close_icon {
        position: fixed;
        height: 32px;
        width: 32px;
        top: 17px;
        right: 13px;
        z-index: 101;
    }

    body {
        height: 100%;
    }

    /*!HEADER*/

    header {
        position: fixed;
        z-index: 50;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #for-invalid {
        opacity: 0;
        height: 0px;
        padding: 0;
        z-index: 51;
        width: 100%;
        background: #e1c7a4;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .margin-left {
        margin: 0 5px;
    }

    .margin-left p {
        font-weight: bold;
        background: white;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 4px;
        margin-right: 5px;
    }

    .margin-left p:hover {
        cursor: pointer;
        background: black;
        color: white;
    }

    label,
    input {
        margin-top: 10px;
    }

    .margin-left div {
        margin-right: 4px;
    }

    #invalid_image {
        width: 40px;
        height: 40px;
        padding: 5px;
        z-index: 54;
    }

    #for-invalid div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    #for-invalid div div {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .for-invalid-paragraph {
        font-size: 18px;
    }

    #font-size div {
        margin-left: 4px;
        padding: 3px !important;
        width: 15px;
        height: 20px;
        background: white;
        border: 2px solid black;
        cursor: pointer;
    }

    #font-size div,
    #color-scheme div {
        position: relative;
        font-weight: bold;
        cursor: pointer;
    }

    #font-size div p,
    #color-scheme div p {
        width: 100%;
        text-align: center;
        padding: 50% 0;
    }

    #color-scheme div {
        text-decoration: underline;
        margin-left: 7px;
        width: 20px;
        height: 30px;
    }

    #delete-invalid {
        cursor: pointer;
        padding: 5px;
        color: white;
        background: tomato;
        border: 5px solid red;
    }

    #delete-invalid:hover {
        color: red;
        background: white;
        border: 5px solid red;
    }

    nav {
        z-index: 52;
        height: 60px;
        min-width: 100%;
        width: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #B09B7F
    }

    a.header-link {
        text-decoration: none;
        font-size: 18px;
    }

    .mobile-none {
        display: none;
    }

    img.button {
        position: relative;
        top: 2px;
        max-width: 32px;
        max-height: 32px;
    }

    /*!БЛОК ARTICLE*/

    main {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.article {
        position: relative;
        width: 90%;
        margin-top: 75px;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.in-article-div {
        position: relative;
        width: 93%;
        height: auto;

        padding-top: 10px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
    }

    div.list {
        margin-top: -5px;
        position: relative;
        width: 100%;
        height: auto;
    }

    div.special-margin {
        margin: 20px 0 20px 0;
    }


    /*!НАСТРОЙКА ТЕКСТА В ARTICLE*/

    h1 {
        position: relative;
        margin-left: 10px;
        margin-top: 15px;

        min-width: 90%;
        height: auto;
        font-weight: bold;
        font-size: 25px;
        text-align: left;
    }

    span.bold {
        font-weight: bolder;
    }

    div.list>p {
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }

    div.list a {
        text-decoration: none;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }

    div.in-article-div>p {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div.special-margin>p {
        font-size: 20px;
        margin-top: 6px;
    }

    /*!ПОДВАЛ*/

    footer {
        position: relative;
        top: 100px;
        width: 100%;
        height: 90px;
        background-size: 1000% !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;

    }

    div.footer-text {
        width: 90%;
        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    p.footer-text {
        font-size: 19px;
    }

    div.icons {
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 110px;
        height: 60px;
    }

    a.icon {
        margin-left: 10px;
        border-radius: 9px;
        transition: background-color 1s linear;
        transition-delay: 100ms;
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img.icon {
        width: 55px;
        height: 55px;
    }

    #vk {
        background-color: #2787F5;
    }

    #fb {
        background-color: #3b5998;
    }
}