* {
    font-family: Arial, Helvetica, sans-serif;
}
.nav-menu
{
    display: none;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
footer {
    /*background: linear-gradient(168.58deg, #ddc6a4 0% , #a07c45 50%, #ab967b 100%);*/
    /*background: linear-gradient(168deg, #B09B7F -1.31%, #681F23 52.38%, #B09B7F 100.75%);*/
    background: linear-gradient(168deg, #a07c45 -1.31%,#ddc6a4 52.38%, #B09B7F 100.75%);
    background-size: 150%;
    animation-name: footer-animation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes footer-animation {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }

@media screen and (min-width: 1125px) {
    
    /*!ВСЕ*/
    * {
        margin: 0;
        padding: 0;
    }
    .scale-fix{
        width: 100%;
        min-width: 1125px;
        max-width: 1450px;
    }
    div.background {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
        background-image: url(photos/background/background-desktop.jpg);
        background-position: center;
        background-size: cover;
        z-index: -100;
    }

    .nav-menu {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
        z-index: 100;

        background:rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        opacity: 0;
    }
    .nav-menu-blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        position: relative;
        top: 100px;
        width: 90%;
        min-height: 65%;
        margin: auto;
    }
    .nav-menu-block {
        position: relative;
        display: flex;
        flex-direction: column;

        width: 25%;

    }
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

/*!HEADER*/

    header {
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 65px;

        background: rgba(0, 0, 0, 0.2); 
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    nav {
        height: 60px;
        min-width: 100%;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    a.top-panel {
        text-decoration: none;
        font-size: 28px;
        letter-spacing: 0.055em;
        color: #ffffff;
    }
    a.moment {
        color: #DE2D3C;
        /*#cfb297*/
        /*Может этот цвет?*/
    }
    a.top-panel:hover {
        color: #f3e9db;
    }

/*!БЛОК ARTICLE*/

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.article {
        position: relative;
        width: 90%;
        margin-top: 100px;
        height: auto;

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        backdrop-filter: blur(10px);;
    }

    div.in-article-div {
        position: relative;
        width: 45%;
        height: auto;
        padding-top: 20px;
        margin-left: 30px;
        padding-bottom: 30px;

        display: flex;
        flex-direction: column;
    }

    div.list {
        margin-top: -5px;
        position: relative;
        width: 100%;
        height: auto;
    }

    div.special-margin {
        margin: 20px 0 20px 0;
    }


/*!НАСТРОЙКА ТЕКСТА В ARTICLE*/


    
    span.bold {
        font-weight: bolder;
    }
    div.list > p {
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    div.list > a{
        text-decoration: none;
        color: #B09B7F;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    div.list > a:hover{
        text-decoration: underline;
    }
    div.in-article-div > p {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    div.special-margin > p {
        font-size: 22px;
        margin-top: 6px;
    }
    p.text1 {
        position: relative;
        top: 20px;
        right: 50px;
        float: right;
        width: 45%;

        font-weight: bold;
        font-size: 35px;
        color: black;
        text-align: right;
    }



    /*!ПОДВАЛ*/

    footer{
        position: relative;
        top: 100px;
        width: 100%;
        height: 60px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.footer-text {
        width: 90%;
        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    p.footer-text {
        font-size: 25px;
    }
    div.icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 120px;
        height: 60px;
    }
    a.icon {
        background-color: rgba(255, 255, 255, 0.4);
        margin-left: 10px;
        border-radius: 9px;
        transition: background-color 0.5s linear;
        transition-delay: 100ms;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.icon {
        width: 50px;
        height: 50px;
    }
    #vk:hover {
        background-color: #2787F5;
    }
    #fb:hover {
        background-color: #3b5998;
    }
}

/*!СРедний размер*/
/*!СРедний размер*/
/*!СРедний размер*/
/*!СРедний размер*/
/*!СРедний размер*/

@media screen and (min-width: 686px) and (max-width: 1124px) {
        
    /*!ВСЕ*/
    
    * {
        margin: 0;
        padding: 0;
    }
    div.background {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
        background-image: url(/photos/background/background-desktop.jpg);
        background-position: center;
        background-size: cover;
        z-index: -100;
    }
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

/*!HEADER*/

    header {
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 60px;

        background: rgba(0, 0, 0, 0.2);    
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    nav {
        height: 60px;
        min-width: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    a.top-panel {
        text-decoration: none;
        font-size: 27px;
        letter-spacing: 0.055em;
        color: #ffffff;
    }
    .mobile-none {
        display: none;
    }
    a.moment {
        color: #DE2D3C;
        /*#cfb297*/
        /*?Может этот цвет?*/
    }
    a.top-panel:hover {
        color: #f3e9db;
    }

/*!БЛОК ARTICLE*/

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.article {
        position: relative;
        width: 90%;
        margin-top: 100px;
        height: auto;

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        backdrop-filter: blur(10px);;
    }

    div.in-article-div {
        position: relative;
        width: 95%;
        margin: auto;
        height: auto;
        
        padding-top: 10px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.list {
        margin-top: -5px;
        position: relative;
        width: 100%;
        height: auto;
    }

    div.special-margin {
        margin: 20px 0 20px 0;
    }


/*!НАСТРОЙКА ТЕКСТА В ARTICLE*/

    p.text1 {
        position: relative;
        margin-top: 15px;

        min-width: 90%;
        height: auto;
        font-weight: bold;
        font-size: 35px;
        color: black;
        text-align: left;
    }
    
    div.text1 {
        position: relative;
        width: 95%;
        margin: auto;
    }
    span.bold {
        font-weight: bolder;
    }
    div.list > p {
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    div.list > a{
        text-decoration: none;
        color: #B09B7F;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    div.in-article-div > p {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    div.special-margin > p {
        font-size: 22px;
        margin-top: 6px;
    }


    /*!ПОДВАЛ*/

    footer{
        position: relative;
        top: 100px;
        width: 100%;
        height: 60px;

        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.footer-text {
        width: 90%;
        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    p.footer-text {
        font-size: 25px;
    }
    div.icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: auto;
        height: 60px;
    }
    a.icon {
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: 10px;
        border-radius: 9px;
        transition: background-color 1s linear;
        transition-delay: 100ms;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.icon {
        width: 61px;
        height: 61px;
    }
    #vk:hover {
        background-color: #2787F5;
    }
    #fb:hover {
        background-color: #3b5998;
    }

}

/*!Маленький размер*/
/*!Маленький размер*/
/*!Маленький размер*/
/*!Маленький размер*/
/*!Маленький размер*/

@media screen and (max-width: 685px) {
        
        /*!ВСЕ*/
        * {
            margin: 0;
            padding: 0;
        }
        div.background {
            position: fixed;
            /*TODO: Нужно найти фон*/
            background-image: url(/photos/background/test-back2.jpg);
            background-position: center;
            min-width: 100%;
            min-height: 100%;
            background-size: auto 100%;
            z-index: -100;
        }
        body {
            height: 100%;
        }
        
        /*!HEADER*/
        
    header {
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 60px;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav {
        height: 60px;
        min-width: 100%;
        width: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    a.top-panel {
        text-decoration: none;
        font-size: 19px;
        color: #ffffff;
    }
    .mobile-none {
        display: none;
    }
    a.moment {
        color: #DE2D3C;
        /*#cfb297*/
        /*?Может этот цвет?*/
    }

    img.button {
        max-width: 32px;
        max-height: 32px;
    }

    /*!БЛОК ARTICLE*/

    main {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.article {
        position: relative;
        width: 90%;
        margin-top: 100px;
        height: auto;

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        backdrop-filter: blur(10px);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.text1 {
        position: relative;
        width: 93%;
    }

    div.in-article-div {
        position: relative;
        width: 93%;
        height: auto;
        
        padding-top: 10px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
    }

    div.list {
        margin-top: -5px;
        position: relative;
        width: 100%;
        height: auto;
    }

    div.special-margin {
        margin: 20px 0 20px 0;
    }


/*!НАСТРОЙКА ТЕКСТА В ARTICLE*/

    p.text1 {
        position: relative;
        margin-top: 15px;

        min-width: 90%;
        height: auto;
        font-weight: bold;
        font-size: 25px;
        color: black;
        text-align: left;
    }
    
    span.bold {
        font-weight: bolder;
    }
    div.list > p {
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    div.list > a{
        text-decoration: none;
        color: #B09B7F;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    div.in-article-div > p {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    div.special-margin > p {
        font-size: 20px;
        margin-top: 6px;
    }

    /*!ПОДВАЛ*/

    footer{
        position: relative;
        top: 100px;
        width: 100%;
        height: 90px;
        background-size: 1000% !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    div.footer-text {
        width: 90%;
        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    p.footer-text {
        font-size: 19px;
    }
    div.icons {
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 110px;
        height: 60px;
    }
    a.icon {
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: 10px;
        border-radius: 9px;
        transition: background-color 1s linear;
        transition-delay: 100ms;
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.icon {
        width: 55px;
        height: 55px;
    }
    #vk{
        background-color: #2787F5;
    }
    #fb{
        background-color: #3b5998;
    }
}