@media screen and (min-width: 1125px) {
    .head-and-photos-container {
        width: ;
    }
    .images-for-news {
        position: relative;
        width: 40%;
        top: 100px;
        margin-left: auto;
        margin-bottom: 30px;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .image-for-news {
        margin: 5px 5px;
        max-width: 160px;
        max-height: 160px;
    }
}

@media screen and (min-width: 686px) and (max-width: 1124px) {}

@media screen and (max-width: 685px) {}