@media screen and (min-width: 1125px) {
    .article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    h2 {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        text-align: left !important;
        width: calc(100% - 30px) !important;
        margin: 10px 0;
    }

    .news-text{
        width: calc(100% - 30px) !important;
        font-size: 22px;
        text-align: justify;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 686px) and (max-width: 1124px) {}

@media screen and (max-width: 685px) {}